*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    height: 50px;
}

main{
    height: calc(100vh - 125px);
}

footer{
    background-color: blue;
    height: 75px;
}

.contenitore{
    max-width: 1400px;
    margin: 0 auto;
    background-color: yellow;
    height: 500px;
}

.riga{
    display: flex;
    flex-wrap: wrap;
}

.colonna-7{
    width: calc(100% / 7);
    height: 100px;
    background-color: purple;
    border: 1px solid black;
}